body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
}

.settings {
  border-right: 1px solid #999999;
  padding-right: 60px;
  margin-right: 6px;
  max-width: 200px;
}

.header-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.total-wins {
  
}

.seasons {
  margin-top: 20px;
}

.random-stats {
  margin-left: 20px;
  margin-right: 20px;
  min-width: 200px;
}

.winrates-class {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.winrate-item {
  flex: 1 1 50%;
  width: 0;
  margin-bottom: 5px;
}

.winrate-text {
  margin-left: 5px;
  font-weight: 600;
}

.main-content:nth-child(1) {
  flex-grow: 0;
  flex-shrink: 1;
  order: 0;
}

.main-content:nth-child(2) {
  flex-grow: 1;
  flex-shrink: 1;
  order: 0;
}

.main-content:nth-child(3) {
  flex-grow: 0;
  flex-shrink: 1;
  order: 0;
}